.top-footer {
    background-color: #eae9f6;
    padding: 60px 0 20px;

    .top-footer-cols {
        display: flex;
        justify-content: space-between;

        >div:not(:last-child) {
            padding-right: 100px;
        }
    }
}

.bottom-footer {
    background-color: #191919;
    padding: 5px 20px;
}
